doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      title
         block title
      link(rel="stylesheet",href='stylesheets/style.css')
   body
      nav
         ul
            li
               a(href='/') Home
            li
               a(href='/list') List
   #container
      #row
         block content